body{
    padding: 0 auto;
    margin: 0 auto;
}

header{
    background-color: gray;
    text-align: center;
}


nav{
    background-color: rgb(92, 91, 91);
    display: flex;
    justify-content:space-around;
}
.conteudo{
    display: flex;
}
.direito{
    text-align: center;
}
.esquerdo{
    text-align: center;
}
footer{
    background-color: gray;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}